<!DOCTYPE html>
<html lang="{{ session.get('lang', 'es') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ texts['title'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <!-- Imagen centrada fuera del contenedor -->
    <div class="header-img-container">
        <img src="{{ url_for('static', filename='img/image.png') }}" alt="Imagen centrada" class="header-img">
    </div>
    
    <!-- Contenedor del formulario de login -->
    <div class="container">
        <h1>{{ texts['login'] }}</h1>
        <form method="POST">
            <input type="text" name="username" placeholder="{{ texts['username'] }}" required autocomplete="username">
            <input type="password" name="password" placeholder="{{ texts['password'] }}" required autocomplete="current-password">
            <button type="submit">{{ texts['login'] }}</button>
            {% if error %}
                <div class="error-message">{{ error }}</div>
            {% endif %}
        </form>
    </div>
</body>
</html>
